asgiref==3.11.1
async-timeout==5.0.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2.14
django-cors-headers==4.9.0
django-environ==0.13.0
django-redis==6.0.0
djangorestframework==3.17.1
idna==3.14
psycopg2-binary==2.9.12
python-dotenv==1.2.2
redis==7.4.0
requests==2.34.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
